body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg, #e0f1fc, #f8bfbfd6);
    font-family: 'Poppins', sans-serif;
    margin: 2px;
}

 .clock {
    text-align: center;
    padding:  30px 50px;
    border-radius: 20px;
    background: #ecf6ff54;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.1);
}